{% extends "base.html" %}

{% block content %}
    <h2>Recuperar Contraseña</h2>
    <p>Introduce tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
    <!-- AÑADE ESTO PARA VER ERRORES OCULTOS -->
    {% if form.errors %}
        <div style="color: red; margin-bottom: 1rem;">
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <p>¿Olvidaste tu contraseña? Introduce tu correo electrónico y te enviaremos un enlace para restablecerla.</p>
    <form method="post">
        {% csrf_token %}
        {{form.ass_p }}
        <p>
            <label for="id_email">Correo electrónico:</label>
            <input type="email" name="email" maxlength="254" required id="id_email" style="padding: 8px; width: 250px;">
        </p>
        <button type="submit">Enviar Enlace</button>
    </form>
{% endblock content %}

